h1,
h2,
h3,
h4 {
    @apply tracking-widest font-medium text-primary uppercase;
}

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-base;
}

a {
    @apply text-primary hover:text-primary-lighter active:text-primary-darker;
}

body {
    font-family: "Montserrat", sans-serif;
}
